header {

}

ul {
    display: flex;
  margin: 0px;
  padding: 0px;
  border: 3px;  
  border-color: black;
}

li {
margin: 40px;

}

footer {
    margin-top: 150px;
    border-top: :5px
}
article {

}